<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Stock Master</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/produtos">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/fornecedores" routerLinkActive="active">Fornecedores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/movimentacoes" routerLinkActive="active">Movimentações</a>
        </li>
      </ul>
      <!-- Botão de Logout -->
      <button *ngIf="isAuthenticated()" class="btn btn-outline-danger" (click)="onLogout()">Logout</button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
