<div class="container mt-4">
  <h2 class="text-center mb-4">Criar Movimentação</h2>

  <form (ngSubmit)="salvarMovimentacao()">
    <div class="form-group">
      <label for="tipo">Tipo</label>
      <select [(ngModel)]="novaMovimentacao.tipo" name="tipo" class="form-control">
        <option value="entrada">Entrada</option>
        <option value="saida">Saída</option>
      </select>
    </div>
    <div class="form-group">
      <label for="produtoId">Produto</label>
      <select [(ngModel)]="novaMovimentacao.produtoId" name="produtoId" class="form-control">
        <option *ngFor="let produto of produtos" [value]="produto.id">{{ produto.nome }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="quantidade">Quantidade</label>
      <input type="number" [(ngModel)]="novaMovimentacao.quantidade" name="quantidade" class="form-control">
    </div>
    <div class="form-group">
      <label for="fornecedorId">Fornecedor</label>
      <select [(ngModel)]="novaMovimentacao.fornecedorId" name="fornecedorId" class="form-control">
        <option *ngFor="let fornecedor of fornecedores" [value]="fornecedor.id">{{ fornecedor.nome }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="funcionarioId">Funcionário</label>
      <select [(ngModel)]="novaMovimentacao.funcionarioId" name="funcionarioId" class="form-control">
        <option *ngFor="let funcionario of funcionarios" [value]="funcionario.id">{{ funcionario.nome }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
  
      <button type="button" class="btn btn-secondary" routerLink="/movimentacoes">
        Cancelar
      </button>
    </div>
  

