.container {
    max-width: 1200px;
  }
  h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .product-card-body {
    text-align: center;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1.1rem;
  }
  
  button {
    margin-top: 10px;
    margin-right: 5px;
  }

  .card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer; 
  }
  
  .card img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .alert-card {
    border: 1px solid #dc3545;
    background-color: #f8d7da;
    transition: box-shadow 0.3s;
  }
  .alert-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .text-danger {
    font-weight: bold;
    color: #dc3545;
  }
  .text-success {
    font-weight: bold;
    color: #28a745;
  }