<div class="container mt-4">
    <h3>Adicionar Funcionário</h3>
    <form (ngSubmit)="salvarFuncionario()" #form="ngForm">
      <div class="form-group mb-3">
        <label for="nome">Nome</label>
        <input
          type="text"
          id="nome"
          class="form-control"
          [(ngModel)]="novoFuncionario.nome"
          name="nome"
          required
        />
      </div>
  
      <div class="form-group mb-3">
        <label for="email">E-mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          [(ngModel)]="novoFuncionario.email"
          name="email"
          required
        />
      </div>
  
      <div class="form-group mb-3">
        <label for="senha">Senha</label>
        <input
          type="password"
          id="senha"
          class="form-control"
          [(ngModel)]="novoFuncionario.senha"
          name="senha"
          required
        />
      </div>
  
      <div class="form-group mb-3">
        <label for="confirmarSenha">Confirmar Senha</label>
        <input
          type="password"
          id="confirmarSenha"
          class="form-control"
          [(ngModel)]="novoFuncionario.confirmarSenha"
          name="confirmarSenha"
          required
        />
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Salvar</button>
      <button type="button" class="btn btn-secondary" routerLink="/funcionarios">Cancelar</button>
    </form>
  </div>
  